body {
    padding: 0;
    margin: 0;
    background: #23212b;
    color: #fff;
}

.container {
    width: 1200px;
    border: 1px solid #e22424;
}

.content-main {
    margin: 0 auto;
    padding: 5em 0;
}

.moldura-perfil {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 15px 2px #0200084a;
}

.moldura-perfil img {
    width: 290px;
    position: relative;
    right: 0;
    bottom: 20px;
}

h1 {
    color: #fff;
    float: left;
}